# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

/config/certs

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.swp
*.swo

.env

report.20*

/config/users/editors.json
/config/support/incident_contact_list.yaml
/config/support/incident_contact_list.json
/config/support/silence_templates.json
