#!/bin/bash

REACT_APP_ALERTMANAGER_API_ENDPOINT=https://alertmanager.eu-de-1.cloud.sap/api/v2
REACT_APP_PAGERDUTY_API_ENDPOINT=https://api.pagerduty.com
REACT_APP_PAGERDUTY_API_TOKEN=

ALERTS_UPDATE_TIMEOUT_SEC="30"
SILENCES_UPDATE_TIMEOUT_SEC="300"
ACKED_ALERTS_UPDATE_TIMEOUT_SEC="300"

TOKEN_PRIVATE_KEY=secret