#!/bin/bash

# Be sure to use the internal endpoint
REACT_APP_ALERTMANAGER_API_ENDPOINT=""
REACT_APP_ALERTMANAGER_API_ENDPOINT_BACKUP=""

# DISABLE_PAGERDUTY="true"
REACT_APP_PAGERDUTY_API_ENDPOINT=https://api.pagerduty.com
PAGERDUTY_SERVICE_USER_EMAIL=
REACT_APP_PAGERDUTY_API_TOKEN=

ALERTS_UPDATE_TIMEOUT_SEC="30"
SILENCES_UPDATE_TIMEOUT_SEC="300"
ACKED_ALERTS_UPDATE_TIMEOUT_SEC="300"

# location of prometheus user cert and key file on your local hard disk
# for dev workspace save them in config/certs (this location is already added to .gitignore)
# certs can be found in vault at: /shared/shared/prometheus-auth/sso
PROMETHEUS_USER_CERT_LOCATION="config/certs/my-cert.pem"
PROMETHEUS_USER_KEY_LOCATION="config/certs/my-key.pem"

OIDC_ENDPOINT="https://ajfc1jphz.accounts.ondemand.com/oauth2"
OIDC_CLIENT_ID=
