// VARIABLES ----------------------------------------------

// Brand Colors ---------------
$sapgold:        #f0ab00;
$light-sapgold:  #fcb913;
$dark-sapgold:   #fc8613;

$light-gray:     #ccc;
$medium-gray:    #999;
$dark-gray:      #666;

$bright-blue:    #008fcc;
$medium-blue:    #226ca9;
$deep-blue:      #2b3f7b;

$bright-purple:  #9c277b;
$medium-purple:  #6b2982;
$deep-purple:    #522a67;

$bright-orange:  #de8a2e;
$medium-orange:  #d4652d;
$deep-orange:    #b34a2a;

$bright-green:   #b4ca48;
$medium-green:   #8ab54e;
$deep-green:     #2a7b44;

// Other Colors
$hover-blue:       #00a1e5;
$hover-light-blue: #e5f4fa;
$hover-orange:     #FFECCD;
$white-gray:       #eee;
$alarm-red:        #e22;
$help-info-blue:   lighten($medium-blue, 10%);

$bg-dark:           #354052;
$bg-dark-active:    #1d232d;
$light-grey:        #ced4da;
$border-light:      #E5E9F2;

// Bootstrap Overrides ---------------

$theme-colors: (
    "primary":    $bright-blue,
    "success":    $bright-green,
    "info":       $bright-blue,
    "warning":    $light-sapgold
);

@import "../../node_modules/bootstrap/scss/bootstrap";



// Shared Utilities ----------------------------------------

.u-hidden {
    display: none !important;
}

.u-text-info-light {
    color: $gray-500;
}

.u-text-info {
    color: $gray-600;
}

.u-text-small {
    font-size: $small-font-size;
}

.u-v-align-middle {
    vertical-align: middle !important;
}

// --------------------------------------------------------


// Status elements ----------------------------------------

.critical td {
    background: lighten($danger, 42);
}

.warning td {
    background: lighten($warning, 42);
}

.info td {
    background: lighten($info, 55);
}

.resolved td {
    background: none;
}

// --------------------------------------------------------


// Layout components --------------------------------------

.page {
    display: flex;
    padding-left: 0;
    padding-right: 0;
}

.main {
    flex: 0 1 100%;
}

.content {
    padding: 30px 30px 30px 30px;
}

.navbar {
    border-bottom: 1px solid $border-light;
    box-shadow: 0 0 1px 1px rgba(100, 100, 100, 0.05);
    height: 55px;
}

// --------------------------------------------------------


// SIDEBAR ------------------------------------------------
.sidebar {
    @supports (position: sticky) {
        position: sticky;
        top: 0;
        z-index: 1000;
        height: 100vh;
    }
    background: $bg-dark;
    border-right: 1px solid rgba(0, 0, 0, .1);    
    color: $light-grey;
    flex: 0 1 320px;

    ul {
        list-style: none;
        padding: 0;
    }
}

.sidebar-brand {
    font-size: $h4-font-size;
    color: #fff;
    display: flex;
    align-items: center;
    height: 55px;
    padding-left: 0.6rem;

    .logo {
        color: lighten($bright-blue, 10);
        margin-right: 0.75rem;
    }
}


.sidebar-item {
    cursor: pointer;
    padding-left: 0.4rem;

    input {
        margin-right: 0.25rem;
        cursor: pointer;
    }
}

.sidebar-link {
    display: block;
    padding: 0.5rem 0.6rem;

    &.active {
        background: darken($bg-dark, 12);
        font-weight: bold;
        color: #fff;
    }

    svg {
        margin-right: 0.5rem;
    }
}

.sidebar-folder > .sidebar-link {
    font-size: $font-size-lg;

    &.active {
        font-weight: normal;
    }
}

.sidebar-dropdown {
    padding: 0.5rem 0 1rem 0;

    .sidebar-link {
        padding: 0.25rem 0.6rem;

        &.active {
            background: darken($bg-dark, 5);
        }
    }
}


// --------------------------------------------------------


// Tables -------------------------------------------------

.table-main {
    th {
        border-top: none;
    }

    button {
        white-space: nowrap;
    }
}

// --------------------------------------------------------



// Components ----------------------------------------------

.react-json-view {
    word-break: break-all;
}

.filter-pill {
    background: rgba(255, 255, 255, 0.5);
    color: $gray-600;
    cursor: pointer;
    display: inline-block;
    font-size: $small-font-size;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    margin: 0.5rem 1rem 0 0;
    padding: 0.1rem 0.4rem;
    white-space: nowrap;

    &:hover, &.active {
        background: rgba(0,0,0,0.05);
        color: $gray-700;
        border-color: rgba(0,0,0,0.2);
    }

    &.active {
        padding-right: 0.2rem;

        svg {
            color: #888;
            margin-left: 0.4rem;
        }

        &:hover {
            text-decoration: line-through;

            svg {
                color: $gray-700;
            }
        }
    }
}

// --------------------------------------------------------



// Filters -------------------------------------------------

.filters {
    .filter-section {
        display: flex;
        flex-wrap: wrap;
    }

    .form-group {
        padding-right: 2rem;
        flex-basis: 25%;
    }

    .toggle-show {
        display: block;
        margin-bottom: 1rem;
        padding-left: 0;
    }

}

// --------------------------------------------------------
