html, body, #root {
  height: 100%;
}

.App {
  text-align: center;
}

.AppContent {
  display: flex;
}

.Navigation {
  flex: 0 0 auto;
  padding: 50px 15px 15px 15px;
  text-align: left;
}

.Navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Content {
  flex: 1 1 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  border-collapse: collapse;
}

table th, table td {
  border-bottom: 1px solid #ddd;
  border-right-width: 0;
}

table td small.info {
  color: #666;
}

.recharts-default-tooltip {
  background-color: rgba(255,255,255,0.8) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
